@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  font-family: "Montserrat", serif;
  font-style: normal;
}

.login-page {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to bottom, #070226, #321ec6);
}

.background {
  display: flex;
  flex-wrap: wrap;
  width: 70%; 
  background: linear-gradient(to bottom, #070226, #321ec6);
  justify-content: center;
  align-items: center;
  padding: 2.5vw;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 65%;
  height: auto;
  transition: all 0.4s ease;
}

.logo img:hover {
  width: 70%;
  height: auto;
}

.login-title {
  text-align: center;
  font-size: 3.5rem; 
  font-weight: 400;
  background: linear-gradient(to bottom, #070226, #321ec6);
  -webkit-background-clip: text;
  color: transparent;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 35%; 
  min-height: 100vh;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  padding: 2vw;
}

.home img {
  position: relative;
  left: 4vw;
  top: 4vh;
  transition: all 0.4s ease;
}

.home img:hover {
  width: 30px;
  height: 30px;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%; 
  margin-bottom: 5vh;
}

.container-form label {
  text-align: left;
  font-size: 0.8125rem; 
  font-weight: 400;
  color: black;
  margin-bottom: 0.2vw;
}

.input-nome,
.input-email,
.input-senha,
.input-confirmar-senha {
  display: flex;
  border: 1px solid black;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  border-bottom: solid 3px black;
  width: 100%;
  padding: 0.25rem;
  transition: border 0.4s ease;
  margin-bottom: 2vh;
}

input {
  width: 100%;
  border: 0;
  padding: 0.5rem;
  background: none;
  outline: none;
  font-size: 0.8125rem; 
}

.input-nome:hover,
.input-email:hover,
.input-senha:hover,
.input-confirmar-senha:hover {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

input::placeholder {
  font-size: 0.6rem; 
}

.container-form a {
  text-align: left;
  font-size: 0.8125rem; 
  color: black;
  margin-top: 2vh;
  transition: all 0.4s ease;
}

.container-form a:hover {
  font-weight: 400;
  background: linear-gradient(to bottom, #070226, #321ec6);
  -webkit-background-clip: text;
  color: transparent;
}

hr {
  margin-top: 2vh;
}

.ja-cadastrado {
  margin-top: 10px;
  text-align: center;
  font-size: 13px; 
  color: black;
}

.button {
  width: 100%;
  padding: 0.625rem 1.25rem;
  background-color: transparent;
  color: black;
  font-size: 1.2rem; 
  font-weight: 600;
  border: 2px solid black;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.button:hover {
  background-color: black;
  color: #ffff;
  border: 2px solid transparent;
  transform: translateY(-3px);
}


@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }

  .background {
    display: none;
  }

  .login {
    width: 100%;
    border-radius: 0;
    padding: 2rem; 
  }

  .home img {
    left: 8vw;
    top: 8vh;
  }

  .login-title {
    font-size: 3rem; 
  }

  .container-form {
    width: 80%; 
  }

  input {
    font-size: 0.875rem; 
  }

  input::placeholder {
    font-size: 0.75rem; 
  }

  .button {
    font-size: 1rem; 
  }
}


@media (max-width: 600px) {
  .login-title {
    font-size: 2.5rem;
  }

  .container-form {
    width: 90%; 
  }

  .container-form label {
    font-size: 0.875rem; 
  }

  .button {
    font-size: 0.875rem; 
  }
}


@media (max-width: 480px) {
  .login-title {
    font-size: 2rem; 
  }

  .container-form {
    width: 95%; 
  }

  .container-form label {
    font-size: 0.8125rem; 
  }

  .button {
    font-size: 0.8125rem; 
  }
}