@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');

html{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    background-color: #E9E9E9;
    font-family: "Mohave";
}

#menuLateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 20%;
    background: linear-gradient(to bottom, #070226, #321ec6 );
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.5s;
}

#logo{
    width: 80%;
}

#menuLateralSecoes{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}

#menuLateralSecoes, #menuLateral a, #menuLateralSecoes img{
    width: 50%;
}

#menuLateral a{
    display: flex;
    font-weight: 500;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 10px;
}

#botaoSair, #botaoSair img{
    width: 30%;
}

#containerConteudo{
    margin: 1%;
    margin-inline: 5%;
    width: 80%;
    transition: 0.5s;
}

#containerConteudo h1{
    margin-top: 0;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
}

#botaoMenu{
    transform: scaleX(-1);
    width: 40px;
    height: 40px;
}

#secaoUsuario{
    display: flex;
    align-items: center;
    gap: 10px;
}

#secaoUsuario img{
    width: 60px;
    height: 60px;
}

#dadosUsuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#metricas{
    margin-bottom: 2%;
}

.metricaNegativa{
    color: red;
    margin: 0;
}

.metricaPositiva{
    color: green;
    margin: 0;
}

h2{
    margin-top: 0;
    text-align: center;
}

#cartoes{
    display: flex;
    justify-content: space-between;
}

.drop-shadow{
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10);
}

.cartao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 23%;
    height: 150px;
}

.cartao img{
    width: 15%;
    cursor: pointer;
    
}
.cartao img:hover{
     transform: scale(1.2); 
      transition: transform 0.3s ease-in-out;
}
.metricaTexto{
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.metricaTexto h2{
    color: #7F7F7F;
    font-size: 1.8vw;
    margin: 0
}

.metricaTexto b{
    font-size: 2vw;
}

.iconeCalendario{
    width: 50%;
}
.iconeCalendario:hover{
    width: 16%;
}

#secaoGraficos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.grafico{
    width: 48%;
    display: flex;
    justify-content: center;
}

#graficoLinha, #graficoBarra{
    width: 100%;
    height: 250px;
}