@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

}

body {
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
    font-style: normal;
}


#containerConteudo {
    margin: 1%;
    margin-inline: 5%;
    width: 93%;
    transition: 0.5s;
}

#containerConteudo h1 {
    margin-top: 0;
}

#cabecalho {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#botaoMenu {
    transform: scaleX(-1);
    width: 40px;
    height: 40px;
}

#secaoUsuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

#secaoUsuario img {
    width: 60px;
    height: 60px;
}

#dadosUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#metricas {
    margin-bottom: 2%;
}

.metricaNegativa {
    color: red;
    margin: 0;
}

.metricaPositiva {
    color: green;
    margin: 0;
}

h2 {
    margin-top: 0;
    text-align: center;
}

#cartoes {
    display: flex;
    justify-content: space-between;
}

.drop-shadow {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10);
}

.cartao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 23%;
    height: 150px;
}

.cartao img {
    width: 5%;
}

.metricaTexto {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.metricaTexto h2 {
    color: #7F7F7F;
    font-size: 1.8vw;
    margin: 0
}

.metricaTexto b {
    font-size: 2vw;
}

#iconeCalendario {
    width: 50%;
}

#secaoGraficos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.grafico {
    width: 48%;
    display: flex;
    justify-content: center;
}


#graficoLinha,
#graficoBarra {
    width: 100%;
    height: 250px;
}