@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');


#projetoAvaliacao{
    height: 200%;
    width: 100%;
}

.conheca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem 2rem 8rem;
    margin: 0;
    /*background-color: #160C5F;*/
    background-color: rgba(50,30,198,1);
    min-height: 50%;
    width: 100%;
}


.texto_conheca {
    flex: 1 1 45%;
    max-width: 45%;
}

.texto_conheca h1 {      
    font-size: 3.0rem;
    font-weight: 300;
    color: #fdfdfd;
    margin-bottom: 1rem;
}

.texto_conheca p {
    font-size: 1.8vw;
    margin-bottom: 1rem;
    color: #ddd;
}

.texto_conheca button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #160C5F;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.texto_conheca button:hover {
    background-color: #fff;
    color: #160C5F;
    border: 2px solid #160C5F;
}

.imagem_conheca {
    width: 50%;
    /*background-color: #160C5F;*/
    background-color: rgba(50,30,198,0.0);
    padding: 2rem;
    border-radius: 8px;
}

.imagem_conheca img{
    width: 100%;
}

#bannerAvaliacao{
    background: linear-gradient(0deg, rgba(7,2,38,1) 0%, rgba(50,30,198,1) 100%);
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avaliacao_tema {
    color: #fdfdfd;
    display: grid;
    justify-items: center;
    margin-bottom: 5%;
}
.avaliacao_tema img{
    width: 40px;
    height: 40px;
}

.avaliacoes {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 8rem 2rem 8rem;
    /*background-color: #160C5F;*/
    background-color: rgba(50,30,198,0.0);
}

.av1,
.av2,
.av3 {
    flex: 1 1 45%;
    max-width: 25%;
    align-items: stretch;
    display: flex;
}

.card1,
.card2,
.card3 {
    background-color: #321EC6;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card1 p,
.card2 p,
.card3 p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #ffffff;
}

.card1 img,
.card2 img,
.card3 img {
    vertical-align: middle;
    margin: 0 0.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    color: white;
}

.perfil_nome {
    color: white;
}



@media (max-width: 800px) {
    .texto_conheca p{
        font-size: 20px ;
    }
    .texto_conheca h2{
        font-size: 2rem ;
    }
    .conheca{
        flex-direction: column;
    }
    .texto_conheca{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        text-align: center;
        font-size: 120%;
        height: 50%;
    }
    .imagem_conheca{
        height: 50%;
        width: 100%;
    }
    .imagem_conheca img{
        width: 100%;
    }

    .avaliacao_tema{
        height: 5%;
    }
    .avaliacoes{
        height: 90%;
        flex-direction: column;
    }

    .av1,
    .av2,
    .av3 {
        max-width: 100%;
    }
}