@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  font-family: "Montserrat", serif;
  font-style: normal;

}
  .login-page{
    display: flex;
    height: 100vh;
    background: linear-gradient(to bottom, #00CC99, #6600FF);
    
  }
.background{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 70.30vw; 
  background: linear-gradient(to bottom, #00CC99, #6600FF);
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width: 65%;
  height: 65%;
  padding: 0;
  margin: 0;
  transition: all 0.4s ease;
  
}
.logo img:hover{
  width: 70%;
  height: 70%;
  padding: 0;
  margin: 0;
  
}
.login-title{
  text-align: center;
  font-size: 3.450rem;
  font-weight: 400;
  background: linear-gradient(to bottom, #00CC99, #6600FF);
  -webkit-background-clip: text; 
  color: transparent; 

}


.login{
 display: flex;
 justify-content: center;
  background-color: white;
  width: 30%;
  height: 100vh;
  border: 1px solid transparent;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  padding: 20px 10px;
  
}
.home img{
  position: relative;
  left: 60px;
  top: 30px;
}
.login .login-title{
  text-align: left;
  margin-bottom: 60px;
}
.container-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  margin-bottom: 50px;  

}
.container-form label{
  text-align: left;
  font-size: 13px;
  font-weight: 300;
  color: black;
  display: block;
  margin-bottom: 2px;
}
.input-email,
.input-senha {
  display: flex;
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: solid 3px black;
  width: 100%;
  padding: 5px;
  transition: border 0.4s ease;
}
.input-email{
  margin-bottom: 20px;

}
input{
  width: 100%;
  border: 0;
  padding: 4px;
  background: none;
  outline: none;
  font-size: 13px;

}
.input-email:hover,
.input-senha:hover {
  border-top: 1px solid white;
  border-left: 1px solid white ;
  border-right:1px solid white ;
}


input::placeholder{
  font-size: 10px;


}
.container-form a{
  text-align: left;
  font-size: 13px;
  color: black;
  margin-top: 20px;
  transition: all 0.4s ease;
}
.container-form a:hover{
  font-weight: 400;
  background: linear-gradient(to bottom, #00CC99, #6600FF);
  -webkit-background-clip: text; 
  color: transparent; 
  
}
hr{
  margin-top: 12px;

}
.esqueceu-senha{
  margin: 12px 0   ;

}
.cadastre-se{
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: black;
  
}
/* .container-form a {
  transition: color 0.3s ease;
  text-align: center;
  margin-top: 20px; 
  font-size: 13px;
  color: black;
} */
.button{
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid black;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.button:hover{
  background-color: black;
  color: #ffff;
  border: 2px solid transparent;
  transform:translateY(-3px);
  

}
