
.profile-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
}

h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
    position: relative;
}

.btn-edit {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-edit:hover {
    background-color: #0056b3;
}

.profile-form .form-group {
    margin-bottom: 1rem;
}

.profile-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
}

.profile-form input {
    width: 98%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
}

.profile-form input[readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.btn-delete {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #FF4B4B;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-delete:hover {
    background-color: #d11a1a;
}

#menuLateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 20%;
    background: #5a6268;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.5s;
}