
.profile-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    width: 100%;
    position: relative;
}

h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;

    padding-bottom: 0.5rem;
}

.profile-form .form-group {
    margin-bottom: 1rem;
}

.profile-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
}

.profile-form input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

.profile-form input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.btn-cancelar, .btn-delete {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancelar {
    background-color: #6c757d; 
    color: white;
}

.btn-cancelar:hover {
    background-color: #5a6268;
}

.btn-salvar {
    background-color: #28a745; 
    color: white;
}

.btn-salvar:hover {
    background-color: #218838;
}