<header class="header" id="header">
  <nav class="nav container">
    <img
      class="logo"
      id="logoPc"
      src="logoPreto.png"
      alt="Logo"
    />
    <div id="logoMenu">
      <img id="botaoMenu" src="iconeMenu" alt="" />
      <img class="logo" src="logoPreto.png" alt="" />

      <button class="nav__login" class="loginMobile">Login</button>
    </div>
    <div class="nav__menu">
      <ul class="nav__list">
        <li>
          <a href="#bannerSobre" class="nav__link"> <span>Sobre Nós</span></a>
        </li>
        <li>
          <a href="#bannerHistoria" class="nav__link"> <span>Historia</span></a>
        </li>
        <li>
          <a href="#projetoAvaliacao" class="nav__link">
            <span>Projeto</span></a
          >
        </li>
        <li>
          <a href="#bannerAvaliacao" class="nav__link">
            <span>Avaliações</span></a
          >
        </li>
        <li>
          <a href="#contate_nos" class="nav__link"> <span>Contato</span></a>
        </li>
      </ul>
    </div>
    <button class="nav__login" id="loginPc">Login</button>
  </nav>
</header>
