
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

}

html, body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: 1rem;
}

:root{
  --cor-azul-escuro: #070226;
  --cor-azul-turquesa:  #321ec6;
  --cor-branco: #fff
}

.swal2-confirm.custom-button {
  background-color:  #070226 !important;
  transition: all 0.3s ease;

}

.swal2-confirm.custom-button:hover {
  background-color: #321ec6 !important;
}
